# Exclude everything in root…
/*
!.gitignore

# … except wp-content.
# !/wp-content

# Now exclude everything in wp-content …
# /wp-content/*

# … except plugins …
!/plugins

# Now exclude everything plugins …
/plugins/*

!/plugins/ss-data-manager

# … and except themes.
!/themes

# Now exclude everything in themes …
/themes/*

# … except child theme
!/themes/ss-press